:root{
    --clr-zuta: rgb(253,249,158);
    --clr-ljubicasta: rgb(60,24,36);
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./slike/pozadina.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;

}

header h1{
    color: var(--clr-zuta);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
}

.navbar{
    width: 50%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;

    background-color: var(--clr-ljubicasta)
}

.polje{
    height: 100%;
    width: 100%;
    background-color: var(--clr-zuta);
    color: var(--clr-ljubicasta);

    display: flex;
    align-items: center;
    justify-content: center;
}

.trenutno{
    background-color: var(--clr-ljubicasta);
    color: var(--clr-zuta);

    transition: all .1s ease-in-out;

}

.polje p{
    margin: 0;
    font-size: 1.5em;
}

footer{
    width: 100%;
    height: 6%;
    background-color: var(--clr-ljubicasta);
    color: var(--clr-zuta);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.sadrzaj{
    position: relative;
    width: 100%;
    height: 60%;

}


.zivotinje{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    transition: all .3s ease-in-out;
    opacity: 1;
}

.slicice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 1rem;
}


.krug{
    width: 15%;
    aspect-ratio: 1/1;
    border: 5px solid var(--clr-zuta);
    border-radius: 50%;

    cursor: pointer;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.krug:hover{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.krug:active{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0);
}


.krug:nth-child(1){
    background-image: url("./slike/pas.jpg");
}
.krug:nth-child(2){
    background-image: url("./slike/patka.jpg");
}
.krug:nth-child(3){
    background-image: url("./slike/macka.jpg");
}
.krug:nth-child(4){
    background-image: url("./slike/pile.jpg");
}
.krug:nth-child(5){
    background-image: url("./slike/krava.jpg");
}

.autor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s ease-in-out;
    opacity: 1;
}

.uputstvo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s ease-in-out;
    opacity: 1;
}

.sadrzajpolje{
    height: 100%;
    width: 60%;
    border-radius: 5rem;
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sadrzajpolje p{
    font-size: 2em;
    
}

.slika{
    background-image: linear-gradient(45deg,  var(--clr-ljubicasta), var(--clr-zuta));
    border-radius: 2rem;
    height: 90%;
    margin: 2rem;
}

.omeni{
    width: 40%;
    height: 80%;
}

.slika img{
    width: 100%;
    height: 100%;
}

.skriveno{
    opacity: 0;
    z-index: -1;
}

a:link{
    color: var(--clr-ljubicasta);
}

.opisi{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.opis{
    position: relative;
    background-color: var(--clr-ljubicasta);
    width: 15%;
    height: 100%;
    border: 5px solid var(--clr-zuta);
    border-radius: 2rem;
    color: var(--clr-zuta);
    text-align: center;
    
    transition: all .3s ease-in-out;
    overflow-y: hidden;
}

.opis h1{
    margin-bottom: 1%;
}

.opis p{
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.opis button{
    position: absolute;
    height: 10%;
    aspect-ratio: 1/1;
    top: 5%;
    left: 5%;
    border: 3px solid var(--clr-zuta);
    background-color: var(--clr-ljubicasta);
    border-radius: 50%;
    color: var(--clr-zuta);
    margin: 0;
    padding: 0;
    line-height: 1em;
    text-align: center;
}

.opis button:hover{
    cursor: pointer;
}

.skrivenOpis{
    opacity: 0;
    z-index: -2;
    transform: translateY(-80px);
}